.button {
    background-color: #2a4742;
    line-height: 18px;
    color: white;
    margin: 6px 0;
    padding: 6px 16px;
    font-size: calc(10px + 0.6vw);
    letter-spacing: 1.5px;
    border: 1px solid #002c26;
}

@media only screen and (max-width: 500px) {
    .button {
        padding: 4px;
    }
}

@media only screen and (min-width: 1600px) {
    .button {
        padding: 10px 14px;
        line-height: 22px;
        font-size: calc(8px + 0.6vw);
        min-height: 50px;
    }
}