.descriptionPage__displayBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.descriptionPage__pic {
    max-height: 300px;
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
    margin: 25px;
}

.descriptionPage__header {
    font-size: calc(12px + 1.5vw);
}

.descriptionPage__description {
    width: 90%;
    font-size: calc(12px + 0.6vw);
    text-transform: none;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid white;
    background-color: rgba(255,255,255,0.2);
}

.descriptionPage__footer {
    font-weight: 100;
    font-size: calc(12px + 0.6vw);
}

@media only screen and (max-width: 500px) {
    .descriptionPage__pic {
        max-width: 50vw;
        max-height: 30vh;
        padding: 0;
    }
}