.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #309789;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@media only screen and (min-width: 992px) {
  .App {
    width: 80vw;
  }
}

